{% if product|length < 1 %}

<h1>Product Not found</h1>
{% else %}  

{% for i in product %}
<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
    <div class="product__item product__item-d">
        <div class="product__thumb fix">
            <div class="product-image w-img">
                <a href="product-details.html">
                    <img src="{{i.feature_img}}" alt="product">
                </a>
            </div>
            <div class="product-action">
                <a href="#" class="icon-box icon-box-1" data-bs-toggle="modal" data-bs-target="#productModalId">
                    <i class="fal fa-eye"></i>
                    <i class="fal fa-eye"></i>
                </a>
                <a href="#" class="icon-box icon-box-1">
                    <i class="fal fa-heart"></i>
                    <i class="fal fa-heart"></i>
                </a>
                <a href="#" class="icon-box icon-box-1">
                    <i class="fal fa-layer-group"></i>
                    <i class="fal fa-layer-group"></i>
                </a>
            </div>
        </div>
        <div class="product__content-3">
            <h6><a href="product-details.html">{{i.product_name|truncatewords:10}}</a></h6>
            <div class="rating mb-5">
                <ul>
                    <li><a href="#"><i class="fal fa-star"></i></a></li>
                    <li><a href="#"><i class="fal fa-star"></i></a></li>
                    <li><a href="#"><i class="fal fa-star"></i></a></li>
                    <li><a href="#"><i class="fal fa-star"></i></a></li>
                    <li><a href="#"><i class="fal fa-star"></i></a></li>
                </ul>
                <span>(01 review)</span>
            </div>
            <div class="price mb-10">
                <span>₹{{i.price}}</span>
            </div>
        </div>
        <div class="product__add-cart-s text-center">
            <button type="button" class="cart-btn d-flex mb-10 align-items-center justify-content-center w-100">
            Add to Cart
            </button>
            <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" data-bs-toggle="modal" data-bs-target="#productModalId">
                Quick View
            </button>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}